//registry.npmjs.org/:_authToken=bfae48c2-3ab7-4163-a902-b040332d7fe0
@transformacao-digital:registry=https://gitlab.mti.mt.gov.br/api/v4/packages/npm/
//gitlab.mti.mt.gov.br/api/v4/packages/npm/:_authToken=g442ZWNVt_hPuMzyb4X4
//gitlab.mti.mt.gov.br/api/v4/projects/305/packages/npm/:_authToken=g442ZWNVt_hPuMzyb4X4
